# Ignore secrets file
.env

# Ignore database json files
data/

# Ignore logs
*.log

# Ignore pycache
__pycache__/
*.pyc

# Ignore specific deployment files
deploy.sh
cosmos.conf
config.yml
cloudflared.service
cosmos.service
webserver.service

# Ignore assorted .folders
.venv/
.VSCodeCounter/